.cuadrado {
    padding: 10px;
    display: block;
    border: 2px, solid black;
    width: 300px;
    margin: 5px;
}

.enlinea {
    padding: 10px;
    display: inline-block;
    border: 2px, dotted black;
    width: 300px;
    margin: 5px;
}


